---
import '../css/aboutstyle.css';
import Header from "../components/header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
		<!--icons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!--custom css-->
	<link rel="stylesheet" href="../src/css/aboutstyle.css">
</head>
<body>

	<Header/>

	<section class="infomation" id="infomation">
		<div class="infomation-content">
			<h1>About <span>Me</span></h1>
			<h3>This is the infomation about me the Website Developer</h3>
			<h5>Hello, I'm Chananon Thepharak</h5>
			<p>I'm the creator and developer of this website. I'm now 18 years old from <a href="https://www.ps.ac.th/psth/">Potissarnpittayakorn school.
			</a>I'm currently studying in Mattayom 6 or highschool grade 12.I'm an outgoing and funny person. I love coding and programming. I have create several <a href="/#portfolio">games and projects</a>  
			 I love study mathematics and computer. In fact that both math and computer work together really well. I have also done a research about <a href="/#portfolio">smartphone and insomnia.</a> I have my dream that in my future I want to be an engineer. This dream is a power that push me to this.
			</p>
			<br>
			<br>
			<p>I'm recently developing new games which for my science-computer class project by using Unity, you can help me by submit your idea through <a href="/#contact">*this*</a>.</p>
			<br>
			<p>Member of this project:<br>
			Chananon Thepharak(Programmer/Developer)<br>
			Napatsakorn Chunka(Artist/Modelling)</p>	
		</div>

		<div class="infomation-img">
			<img src="" alt="">
		</div>
	</section>

</body>
</html>