---
import '../css/codestyle.css';
import Header from "../components/header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Research</title>
		<!--icons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!--custom css-->
	<link rel="stylesheet" href="../src/css/aboutstyle.css">
</head>
<body>

	<Header/>

	<section class="infomation" id="infomation">
		<div class="infomation-content">
			<h1><span>My</span>Programs</h1>
			<h3>This page show infomation about my previous program I have done</h3><br>
			<h5>Book Store Midterm Project</h5>
			<p>This reseach is the qualitative research focusing on the data of those people who studying in Potisarnpittayakornthe between grade 10 and grade 12.
                In this research we have found a lots of interesting outcome. This research has include many reliable questionaire including DASS-21, SAS-SV and Relation Between Smartphone and Insomnia.
                lastly, this project cannot be done accurately if its not our teacher for help.
			</p>
			<br>
			<br>
			<h5>Student Final Project</h5>
			<p>This reseach is the qualitative research focusing on the data of those people who studying in Potisarnpittayakornthe between grade 10 and grade 12.
                In this research we have found a lots of interesting outcome. This research has include many reliable questionaire including DASS-21, SAS-SV and Relation Between Smartphone and Insomnia.
                lastly, this project cannot be done accurately if its not our teacher for help.<br>

			</p>
			<br>
            <br>
			<h5>Calculator</h5>
			<p>This reseach is the qualitative research focusing on the data of those people who studying in Potisarnpittayakornthe between grade 10 and grade 12.
                In this research we have found a lots of interesting outcome. This research has include many reliable questionaire including DASS-21, SAS-SV and Relation Between Smartphone and Insomnia.
                lastly, this project cannot be done accurately if its not our teacher for help.<br>
                <br>
                If you are interested in any others project you can have a look at it <a href="/#portfolio">*here*.</a></p>
			</p>
			<br>
		</div>

		<div class="infomation-img">
			<img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
		</div>
	</section>

</body>
</html>