---
import '../css/codestyle.css';
import Header from "../components/header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Research</title>
		<!--icons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!--custom css-->
	<link rel="stylesheet" href="../src/css/aboutstyle.css">
</head>
<body>

	<Header/>

	<section class="code" id="code">
		<div class="code-content">
			<h1><span>My</span>Programs</h1>
			<h3>This page show infomation about my previous program I have done</h3><br>
			<h5>Book Store Midterm Project</h5>
			<p>This project is created for my school in the midterm of my 2 second year highschool. In this project I have learn using C# programing language and SQL. In this project the data is stored in the localhost data base using SQL query.
				And also this project had me know that into programming and coding and also help me for the future using of creating game as Unity main language is C#.
			</p>
			<br>
			<br>
			<h5>Student Final Project</h5>
			<p>This project isd created for my school final examination for sci-com student. In this project I have learned using html with bootstrap, css and javascript. The project also contain the use of SQL query of collect and saving the student in potisarn pittayakorn school.
				this project took me two week to finised and give oppotunity to learn using html and css and help me creating the project with the knowledge i have and with help of tutorial.<br>
			</p>
			<br>
            <br>
			<h5>Calculator</h5>
			<p>This is not a project. But this what i have done when I was in 1st year of highschool. I learn this in the camp called Python Upskill. This camp has give me oppotunities to understand the basic of python and understand how to write flowchart. This camp also make me feel interest in coding even more. <br>
                If you are interested in any others project you can have a look at it <a href="/#portfolio">*here*.</a></p>
			</p>
			<br>
		</div>

		<div class="code-img">
			<img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
		</div>
	</section>

</body>
</html>