---
import '../css/gamestyle.css';
import Header from "../components/header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About Me</title>
		<!--icons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!--custom css-->
	<link rel="stylesheet" href="../src/css/aboutstyle.css">
</head>
<body>

	<Header/>

	<section class="game" id="game">
		<div class="game-content">
			<h1>My <span>Games</span></h1>
			<h3>This is the page where I show my games and it's infomation</h3>
			<h5>My First Game</h5>
			<p> I create this games with my friend. The game name is Blessing in Disguses and it is created with Unity. The game is about One boy was kiddnapped into the survival, he have to survive and react the end to be released.
                The main genre of the game is puzzle. To win the game you need to finish all the objective. The game is divided into two part.
			</p>
			<br>
			<p>Daytime Part</p>
			<p>This is the first part of the game. The objective is to find all boxes and click it. The game have click count that if the player click to the amount label player will die and have to find boxes again.</p>
			<br>
			<p>Nighttime Part</p>
			<p>This is the second and the last part of te game. The objective of this part is to kill the slime and and find the ball choose the right color of the ball to open right the tresure chest, if you find all the chest you will be send to the winning page.</p>
			<br>
			<br>
            <h5>My Commpetition</h5>	
            <p>This is the second game me and my friends created using Unity within 5 days in the Hamster Hub Game Jam the 4th. The game is about farming but with unsual scenery that look like haunted house cause player to feel unsecure. The game start by the adventure sail the ship through the storm
				but unluckily the ship broke down make him have to survive in the island with a few house. The objective is the player have to earn money by farming and sell agricultural product, for you to buy a ship and leave this island.
			<br>
			<br>
				<p>If you feel interested in the game you can try have a look <a href="/#portfolio">*here*.</a></p>
			</p>
		</div>

		<div class="infomation-img">
			<img src="/hachiman.jpg" alt="">
			<br>
			<br>
			<br>
            <img src="/itoshi rin.png" alt="">
		</div>
	</section>

</body>
</html>