---
import '../css/researchstyle.css';
import Header from "../components/header.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Research</title>
		<!--icons-->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<!--custom css-->
	<link rel="stylesheet" href="../src/css/aboutstyle.css">
</head>
<body>

	<Header/>

	<section class="infomation" id="infomation">
		<div class="infomation-content">
			<h1><span>My</span> Research</h1>
			<h3>This page show infomation about my previous research</h3>
			<h5>Relationship Between Smartphone and Insomnia</h5>
			<p>This reseach is the qualitative research focusing on the data of those people who studying in Potisarnpittayakornthe between grade 10 and grade 12.
                In this research we have found a lots of interesting outcome. This research has include many reliable questionaire including DASS-21, SAS-SV and Relation Between Smartphone and Insomnia.
                lastly, this project cannot be done accurately if its not our teacher for help.<br>
                <br>
                If you are interested in our project you can have a look at it <a href="/#portfolio">*here*.</a></p>
			</p>
			<br>
			<br>
			<p></p>
			<br>
			<p>Member of this research project:<br>
			1. Chananon Thepharak<br>
			2. Napatsakorn Chunka<br>
            3. Tarittawan Sorsomboon<br>
            4. Perawat Akarachaipak</p>	
		</div>

		<div class="infomation-img">
			<img src="/research1.jpg" alt="">
			<br>
			<br>
			<br>
			<img src="/research2.jpg" alt="">
		</div>
	</section>

</body>
</html>