---
import '../css/style.css';
---
<header class="header">
    <a href="/" class="logo">Portfolio.</a>


    <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#skills">Skills</a>
        <a href="#portfolio">Portfolio</a>
        <a href="#contact">Contact</a>
    </nav>

    <div class="bx bx-moon" id="darkMode-icon"></div>
    <div class="bx bx-menu" id="menu-icon"></div>
</header>

<script src="../js/script.js"></script>
